.btn-sng1{
    background-color: #2481A6;
    border: #2481A6;

    &:hover{
        background-color: #04C4D9;
    }

}


.btn-sng2{
    background-color: #D9298A;
    border: #D9298A;

    &:hover{
        background-color: #EA686F;
    }
}

.btn-sng3{
    background-color: #2481A6;
    border: #2481A6;

    &:hover{
        background-color: #04C4D9;
    }
    
}