.footer{
    align-content: center;
    text-align: center;
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    &__img{
        width: 20px;
        display: block;
        margin: auto;
    }
  
}